# Ignore specific files or directories
../.CFUserTextEncoding
../.DS_Store
../.android/
../.bash_profile
../.config/
../.gitconfig
../.gradle/
../.lesshst
../.m2/
../.oh-my-zsh/
../.viminfo
../.vscode/
"../.zcompdump-\354\230\244\354\243\274\354\230\201\354\235\230 MacBook\302\240Air-5.9"
../.zprofile
../.zsh_history
../.zsh_sessions/
../4bdaf386bc27052da060dea93c967369/
../Applications/
../Desktop/
../Downloads/
../Library/
../Movies/
../Music/
../Pictures/
../Public/
../gh-token-2023
../java-baseball-6/
./
../java-christmas-6-code-review/
../java-christmas-6-code/
../java-christmas-6-ohjuyoungg/
../java-lotto-6/
../java-number-puzzle-2/
../java-number-puzzle/
../java-racingcar-6.zip
../java-racingcar-6/
../java-start/
../study/
../untitled/
